$white: #ffffff;
$darkGray: #404040;
$background: $white;

.calendar {
  border: 1px solid $darkGray;
  direction: rtl;
}

table {

  width: 100%;
  table-layout: fixed;
  height: 50vh;
  th, td {

    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  td:hover {
    background-color: #f5f5f5;
  }

}

.day-names {
  background-color: #f5f5f5;
}

.event {
  color: blue;
}

.calendarDays {
  td {
    height: 80px;
  }
}
.today{
  background-color: #cbdaff;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: $darkGray;
  padding: 60px;
  color: white;
  input {
    background-color: $darkGray;
    border: 0;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
}